#EP {
    height: 100%;
    width: 100%;
    min-height: 50px;
    max-height: 300px;
    min-width: 50px;
    max-width: 300px;
}

#logpoli {
    text-align: right;
    height: 30%;
    width: 60%;
    min-height: 2.5px;
    max-height: 25px;
    min-width: 10px;
    max-width: 50px;
}

#texto-azul {
    color: #001C6E;
    text-align: left;
}